<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and signup</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    function call_counter(pk) {
      // window.open(url);
      $.get('like/'+pk+'/', function (data) {
        console.log("counter updated!");
      });
    }
  </script>
  <style>
    #hashtags{
      min-height: 100px;
      height: auto;
      border:  1px solid;
    }
    .hashtag{
      background: skyblue;
    }
    .card form{
      display: inline-block;
    }
  </style>
</head>

<body>
  <div class="container col-sm-10 mt-5">
    <div class="row">
      <div class="col-10 col-md-8">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form id="form_tweet" method="POST" action="/tweet">
                {% csrf_token %}
                  <div class="row mb-3">
                    <div class="col">
                      <textarea name="tweet" class="form-control" rows="3" id="tweet" placeholder="Write your tweet..."></textarea>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-12 text-center">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;Tweet</button>
                    </div>
                  </div>
              </form>
            </div>
            <div class="col-12 p-2">
              {% if not tweets %}
                <h2>No tweets present. Be the first one to tweet</h2>
              {% else%}
                {% for tweet in tweets %}
                  <div class="card my-4">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-muted">@{{tweet.username}}&nbsp;{{tweet.date_created}}</h6>
                      <p class="card-text">{{tweet.tweet}}</p>
                      <form method="POST" action="/like">
                        {% csrf_token %}
                        <input type="hidden" name="tweet_id" value={{tweet.tweet_id}}>
                        {% if request.user != tweet.username %}
                          <button type="submit" class="btn btn-info" title="If you have liked once, it will unlike on clicking it again">likes({{tweet.likes}})</button>
                        {% else %}
                          <span class="btn btn-secondary" title="Can't like your own tweeet">likes({{tweet.likes}})</span>
                        {% endif %}
                      </form>
                      <form method="POST" action="/delete">
                        {% csrf_token %}
                        <input type="hidden" name="tweet_id" value={{tweet.tweet_id}}>
                        {% if request.user == tweet.username %}
                          <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;delete</button>
                        {% endif %}
                      </form>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 col-md-4">
        <div id="hashtags">
          {% if not hashtags %}
            <h2>No hashtags to show</h2>
          {% else %}
            {% for hashtag in hashtags %}
              <span class="hashtag btn btn-primary m-1">#{{hashtag.hashtag}}&nbsp;|&nbsp;<span class="count">{{hashtag.count}}</span></span>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>

</html>